<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uaa.auth.dao.mapper.ClientSecretMapper">
  <resultMap id="BaseResultMap" type="com.uaa.auth.entity.ClientSecret">
    <result column="client_id" property="clientId" jdbcType="VARCHAR"/>
    <result column="client_secret" property="clientSecret" jdbcType="VARCHAR"/>
    <result column="tenant_id" property="tenantId" typeHandler="UUIDTypeHandler"/>
    <result column="user_id" property="userId" typeHandler="UUIDTypeHandler"/>
    <result column="purpose" property="purpose" jdbcType="VARCHAR"/>
    <result column="status" property="status" jdbcType="VARCHAR"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="create_by" property="createBy" typeHandler="UUIDTypeHandler"/>
    <result column="update_by" property="updateBy" typeHandler="UUIDTypeHandler"/>
  </resultMap>

  <resultMap id="Base1ResultMap" type="com.uaa.auth.entity.MClientDetail">
    <result column="client_id" property="clientId" jdbcType="OTHER"/>
    <result column="client_secret" property="clientSecret" jdbcType="OTHER"/>
    <result column="scope" property="scopes" jdbcType="OTHER"/>
    <result column="authorized_grant_types" property="grantTypes" jdbcType="OTHER"/>
    <result column="web_server_redirect_uri" property="redirectUris" jdbcType="OTHER"/>
  </resultMap>

  <select id="getClientDetailsByClientId" resultMap="Base1ResultMap">
    select client_id, client_secret, scope, authorized_grant_types, web_server_redirect_uri from XT_CLIENT where CLIENT_ID = #{clientId}
  </select>

  <insert id="insert" parameterType="com.uaa.auth.entity.ClientSecret">
    INSERT INTO XT_CLIENT (client_id, client_secret, tenant_id,
    status, purpose, create_time
    )
    VALUES (#{clientId,jdbcType=VARCHAR}, #{clientSecret,jdbcType=VARCHAR},
    #{tenantId,javaType=UUID,jdbcType=OTHER,typeHandler=UUIDTypeHandler},
    #{status,jdbcType=VARCHAR}, #{purpose, jdbcType=VARCHAR}, sysdate
    )
  </insert>

  <select id="selectByParams" parameterType="Map" resultMap="BaseResultMap">
    SELECT
    c.*
    FROM XT_CLIENT c
    <where>
      <if test="clientId != null">
        c.client_id = #{clientId, jdbcType=VARCHAR}
      </if>
      <if test="tenantId != null">
        AND c.tenant_id = #{tenantId, typeHandler=UUIDTypeHandler}
      </if>
      <if test="clientSecret != null">
        AND c.client_secret = #{clientSecret, jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        AND c.status = #{status, jdbcType=VARCHAR}
      </if>
    </where>
    ORDER BY c.status
  </select>

  <select id="getScope">
    SELECT
    c.scope
    FROM XT_CLIENT c
    <where>
      <if test="clientId != null">
        c.client_id = #{clientId, jdbcType=VARCHAR}
      </if>
      <if test="clientSecret != null">
        AND c.client_secret = #{clientSecret, jdbcType=VARCHAR}
      </if>
    </where>
    ORDER BY c.status
  </select>

  <update id="updateByParams" parameterType="Map">
    UPDATE XT_CLIENT
    <set>
      <if test="status != null">
        status = #{status, jdbcType=VARCHAR},
      </if>
      <if test="clientSecret != null">
        client_secret = #{clientSecret, jdbcType=VARCHAR},
      </if>
      <if test="purpose != null">
        purpose = #{purpose, jdbcType=VARCHAR},
      </if>
      update_time = current_timestamp
    </set>
    <where>
      client_id = #{clientId, jdbcType=VARCHAR}
    </where>
  </update>

  <update id="updateStatus" parameterType="Map">
    UPDATE XT_CLIENT
    SET
    status = #{status, jdbcType=VARCHAR}
    <where>
      <if test="tenantId != null">
        tenant_id = #{tenantId, typeHandler=UUIDTypeHandler}
      </if>
      <if test="clientId != null">
        client_id = #{clientId, jdbcType=VARCHAR}
      </if>
    </where>
  </update>
</mapper>
