<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uaa.auth.dao.mapper.UserAccessMapper">


    <resultMap id="UserResultMap" type="com.uaa.auth.entity.XtUser">
        <result column="user_id" property="userId" jdbcType="OTHER" />
        <result column="user_name" property="userName" jdbcType="OTHER" />
        <result column="user_password" property="userPassword" jdbcType="OTHER"/>
        <result column="org_id" property="orgId" jdbcType="OTHER" />
        <result column="org_type" property="orgType" jdbcType="OTHER" />
        <result column="flag" property="flag" jdbcType="OTHER" />
    </resultMap>

    <select id="findUserByUserName" resultMap="UserResultMap">
      select * from xt_user where USER_ID = #{userName}
    </select>

    <delete id="deleteByUserId" >
        delete from xt_user
        where user_id = #{userId,jdbcType=OTHER}
    </delete>

    <select id="securitySelectByUserId" resultMap="UserResultMap">
        select id,user_id,tenant_id,access_level
        from xt_user
        where user_id =#{userId,jdbcType=OTHER}
    </select>

    <select id="securitySelectByUserIdWithFakeDoc" resultMap="UserResultMap">
    select id,user_id,tenant_id,access_level
    from xt_user
    where user_id =#{userId,javaType=UUID,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
    /*SECURITY_DAS|USER:TENANT:and tenant_id,TOKENKEY:DOCUMENT: and tenant_id|SECURITY_DAE*/;
    </select>

    <insert id="securityInsertRecord" parameterType="com.uaa.auth.entity.UserAccess">
    insert into xt_user (user_id,
    tenant_id, access_level
    )
    values (#{userId,jdbcType=OTHER,typeHandler=UUIDTypeHandler},
    #{tenantId,jdbcType=OTHER,typeHandler=UUIDTypeHandler}, #{accessLevel,jdbcType=INTEGER}
    )
    </insert>

    <update id="securityUpdateRecord" parameterType="com.uaa.auth.entity.UserAccess">
        update xt_user/*SECURITY_IU_DAS|USER:TENANT:tenantId|SECURITY_IU_DAE*/
        where id = #{id,jdbcType=BIGINT} and tenant_id =
        #{oldTenantId,jdbcType=OTHER,typeHandler=UUIDTypeHandler}/*SECURITY_DAS|USER:TENANT:and tenant_id|SECURITY_DAE*/
    </update>

    <update id="securityUpdate" parameterType="java.util.Map">
        update xt_user/*SECURITY_IU_DAS|USER:TENANT:tenantId|SECURITY_IU_DAE*/
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
