<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>用户主页</title>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">主页</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="">
                            <a href="#">退出</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">作者<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">

                                <li>
                                    <a href="https://github.com/fantasykill" style="text-align:center">我的github</a>
                                </li>
                                <li>
                                    <a href="https://gitee.com/fantasykill" style="text-align:center">我的码云</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>

        </div>
        <div class="col-md-12 column">
            <div class="">
                <p th:text="'Hello, ' + ${name} + '!'" />
                <h3> Login Success</h3>
                <!--<p th:text="'Hello, ' + ${name} + '!'" />-->
            </div>

            <div>
                <button id="getAll">所有用户表</button>
                <br/>
                <!--<a href="/alluser">所有用户表</a>-->

                <div id="alluser">

                </div>

            </div>
        </div>
    </div>
</div>
<script>
    //<![CDATA[ js代码
    $(document).ready(function(){
        $("#getAll").click(function(){
            htmlobj=$.ajax({url:"/alluser",async:false});
            /*[{"name":"1321","id":"123","password":"214214124","status":13},{"name":"1213","id":"124","password":"2435325","status":11}]*/
            var jsonData = htmlobj.responseText;
            jsonData = JSON.parse(jsonData); //将json字符串转换成json对象
            // alert(jsonData)
            var html = '<table class="table table-striped"><thead>\n' +
                '\t\t\t\t\t<tr>\n' +
                '\t\t\t\t\t\t<th>\n' +
                '\t\t\t\t\t\t\t 姓名 \n' +
                '\t\t\t\t\t\t</th>\n' +
                '\t\t\t\t\t\t<th>\n' +
                '\t\t\t\t\t\t\t I D \n' +
                '\t\t\t\t\t\t</th>\n' +
                '\t\t\t\t\t\t<th>\n' +
                '\t\t\t\t\t\t\t 密码 \n' +
                '\t\t\t\t\t\t</th>\n' +
                '\t\t\t\t\t\t<th>\n' +
                '\t\t\t\t\t\t\t 状态 \n' +
                '\t\t\t\t\t\t</th>\n' +
                '\t\t\t\t\t</tr>\n' +
                '\t\t\t\t</thead>';
            for (var j in jsonData) {
                var obj = jsonData[j];
                // alert(obj)
                html += '<tr>'
                html += '<td>' + obj.name + '</td>';
                html += '<td>' + obj.id + '</td>';
                html += '<td>' + obj.password + '</td>';
                html += '<td>' + obj.status + '</td>';
                html += '</tr>';
            }
            html += '</table>';
            $('#alluser').html(html);
        });
    });
    //]]>
</script>
</body>
</html>