<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>用户主页</title>
    <style>
        .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
            color: #fff;
            background-color: #151719;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
                        <span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">首页</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!--<ul class="nav navbar-nav">-->
                    <!--<li class="">-->
                    <!--<a href="logout">退出</a>-->
                    <!--</li>-->
                    <!--</ul>-->

                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">作者<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">

                                <li>
                                    <a href="https://github.com/fantasykill" style="text-align:center">我的github</a>
                                </li>
                                <li>
                                    <a href="https://gitee.com/fantasykill" style="text-align:center">我的码云</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

            </nav>

        </div>
        <div class="col-md-2 column" id="letfdh">
            <ul class="panel panel-group nav nav-pills nav-stacked"
                role="navigation" id="accordion">
                <li class="panel panel-default active"><a
                        class="dropdown-toggle" data-toggle="collapse"
                        data-parent="#accordion" href="#collapse11"> ^ . ^ </a>

                    <div id="collapse11" class="panel-collapse collapse">

                        <ul class="nav newa" role="navigation">
                            <li><a href="/logout">退出账号</a></li>
                        </ul>
                    </div>
                </li>

                <li class="panel panel-default active" th:each="menu:${menus}">
                    <a class="dropdown-toggle" data-toggle="collapse" data-parent="#accordion"
                       th:text="${menu.name}" th:href="'#collapse'+${menu.id}">
                    </a>
                    <!--th:herf="${menu.id}"-->
                    <div th:id="'collapse'+${menu.id}" class="panel-collapse collapse">
                        <ul class="nav newa" role="navigation">
                            <li th:each="submenu:${menu.children}">
                                <a href="#" th:id="${submenu.url}" th:text="${submenu.name}"></a>
                            </li>

                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-10 column">
            <div class="" id="usercontent">
                <p th:text="'Hello, ' + ${name} + '!'"/>
                <p> Login Success</p>
            </div>
            <div>
                <div id="alluser">
                </div>
                <div id="uploadimg">
                <form id="upload_form" enctype="multipart/form-data" action="uploadfiles">

                    <div class="form-group" id="myfiles">
                        <div id="pidpid"></div>
                        <input id="file-zh" name="files" type="file"
                               data-preview-file-type="any"/>
                        <!--
                        <input id="file-my" class="file" name="files" type="file" multiple data-preview-file-type="any"
                         data-upload-url="uploadfiles?parentid=0"> -->
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/siduuser.js"></script>
<script src="/js/userinfo.js"></script>
<link href="/css/fileinput.css" media="all" rel="stylesheet"
      type="text/css" />
<script src="/js/fileinput.js" type="text/javascript"></script>
<script src="/js/locales/zh.js" type="text/javascript"></script>
</body>
</html>