<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>




    <link href="/css/fileinput.css" media="all" rel="stylesheet"
          type="text/css" />
    <script src="/js/fileinput.js" type="text/javascript"></script>
    <script src="/js/locales/zh.js" type="text/javascript"></script>


</body>
</html>