<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>角色管理</title>
    <style>
        .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
            color: #fff;
            background-color: #151719;
        }



    </style>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div th:replace="common/commonnav::nav" ></div>

        </div>
        <div class="col-md-2 column" id="letfdh">
            <ul class="panel panel-group nav nav-pills nav-stacked"
                role="navigation">
                <li class="panel panel-default active"><a
                        class="dropdown-toggle"
                         href="javascript:history.go(-1)">返回</a>
                </li>

            </ul>
        </div>
        <div class="col-md-10 column">
            <div class="" id="usercontent">
                <h1>
                    角色管理中心
                </h1>
            </div>
            <div>
                <form role="form" action="/role/changerole">
                    <div class="form-group">
                        <label for="uid">用户ID：</label>
                        <input type="text" class="form-control" id="uid" name="uid"/>
                    </div>
                <button type="submit" class="btn btn-default">查询角色
                </button>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/siduuser.js"></script>
<script src="/js/userinfo.js"></script>
</html>